TRON_WALLET_PRIVATE_KEY=

TRON_FULL_NODE=https://api.shasta.trongrid.io
TRON_SOLIDITY_NODE=https://api.shasta.trongrid.io
TRON_EVENT_SERVER=https://api.shasta.trongrid.io

SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
BSC_RPC_URL=
BSC_PRIVATE_KEY=
AMOY_RPC_URL=
AMOY_PRIVATE_KEY=

PORT=4000